<%= render @article %>
<div id="danilo">
<p class="comentario">Comentários</p>
</div>
<div id="comments">
	<%= render @article.comments %>
</div>

<%= link_to "Novo Comentário", new_article_comment_path(@article), :remote => true, :id => 'new_comment_link' %>