<div class="flash">
	<h2>Junte-se a nós.</h2>
	<hr>
	<p class="conteudodesc">"Faça parte da comunidade de desenvolvedores GeneXus, colabore para a difusão do conhecimento com essa poderosa ferramenta CASE."</p>
</div>
<%= render 'form' %>
