<header class="flash">
	<h2>Nossa missão.</h2>
	<hr>
	<p class="conteudodesc">"A <b>descoberta</b> consiste em ver o que todo mundo viu e <b>pensar</b> o que <b>ninguém</b> pensou." <i>Jonathan Swift</i></p>
	<br>

	<p class="negrito"><b>Por que?</b></p>
	<p class="conteudotexto"> Há uma certa carência de bons artigos e sites de referência para que nós, <em>desenvolvedores GeneXus</em>, possamos usar como base para resolver os diversos problemas do dia-a-dia ou alavancar nossos conhecimentos.<br>
	Em nossos trabalhos, acabamos por perder muito tempo em pesquisas na internet por alguma solução de algo que não está funcionando em nossa aplicação. E muitas vezes mesmo procurando pela internet, não encontramos.<br>
	Pensando nisso, decidimos criar um espaço para todos que trabalham com essa poderosa <strong>ferramenta CASE</strong> ou para aqueles que querem conhecê-la.
	Você encontrará em nossos artigos soluções para problemas diversos em <strong>GeneXus</strong>. Contará também com notícias atualizadas sobre a ferramenta. Buscando deixá-lo a par de tudo que acontece na comunidade <strong><abbr title="GeneXus">GX</abbr></strong>.</p><br>

	<p class="negrito"><b>Para quem?</b></p>
	<p class="conteudotexto"> Para quem é calouro em <strong>GeneXus</strong> ou pretende se iniciar na ferramenta, aqui é o lugar certo. Você irá contar com artigos de profissionais que possuem vasta experiência com a ferramenta e todos os dias desenvolvem soluções para todos os tipos de problemas.<br>Abordaremos níveis do básico ao avançado, com o objetivo de atender tanto os iniciantes quanto os já experientes na ferramenta.<br>
	Para quem já tem experiência com GeneXus, sabe da importância de um Portal onde a comunidade possa ser ativa e colaborativa. Para esses desenvolvedores com bagagem em GX, abordaremos temas complexos e que frequentemente são requeridos no mercado.<br>
	Se você não conhecia GeneXus, aqui é o lugar certo para começar a aprender o que é uma <strong>ferramenta CASE</strong> e por que usar <strong>GeneXus</strong> diminui em até 80% o tempo de desenvolvimento.<br>
	Não conhecia <strong>GeneXus</strong>? Ficou surpreso?<br>
	Faça parte da comunidade e descubra novas formas de desenvolver para <strong>Web</strong>, <strong>Desktop</strong> e <strong>Mobile</strong>. </p>
</header>