<div id="steps-of-creation">
			<%= image_tag("steps-solution-simple.png", :alt=>"Soluções GeneXus") %>
	<div id="man-problem">
		<!--<p>Problemas com GeneXus?</p>-->
	</div>
	
	<!--<p>Cansado de pesquisas sem resultados?</p>-->

	<div id="man">
		
	</div>
	
	<!--<p>Nós temos a solução!</p>-->

	<div id="laptop">
		
	</div>
	<!--<cite><b>Portal</b> <b>Dev</b>eloper <b>Ge</b>ne<b>X</b>us, o primeiro Portal <strong>GeneXus</strong> do Brasil.<br>
	Com o objetivo de difundir conhecimentos, nós vamos te poupar de horas e horas de pesquisas sobre GeneXus na internet.
	Aqui levamos a sério o conceito de <strong>"Knowledge Base"</strong> e é exatamente por isso, que você contará com artigos de profissionais que trabalham com a <em>ferramenta CASE GeneXus</em> há anos.</cite>-->

</div>